In [2]:
#import packages
import yfinance as yf
import numpy as np
import pandas as pd
import pyfolio as pf
import matplotlib.pyplot as plt

E:\Anaconda3\Lib\site-packages\pyfolio\pos.py:26: UserWarning: Module "zipline.assets" not found; mutltipliers will not be applied to position notionals.
  warnings.warn(

In [3]:
np.random.seed(8)
n_assets = 50
sample = np.random.randint(0,500,n_assets)

sp500 = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')
sp500_list = np.array(sp500[0]['Symbol'])[sample]

In [6]:
start_date = '2015-01-01'
end_date = '2024-05-20'

In [8]:
prices_df = yf.download(list(sp500_list), start=start_date, 
                        end=end_date)
print(f'Downloaded {prices_df.shape[0]} rows of data.')
prices_df.dropna(axis=1,inplace=True)

[*********************100%%**********************]  47 of 47 completed

Downloaded 2360 rows of data.

In [10]:
prices_df.head()

Price       Adj Close                                                \
Ticker              A        ALL        ATO         AZO         BDX
Date
2015-01-02  37.551189  57.149815  44.366886  616.789978  119.417488
2015-01-05  36.847557  56.016922  43.565247  608.489990  120.151817
2015-01-06  36.273563  55.976154  43.295391  607.820007  119.921227
2015-01-07  36.754978  56.897156  43.914474  607.239990  122.730423
2015-01-08  37.856709  57.989285  44.208122  606.000000  124.967415

Price                                                                ...  \
Ticker           CDNS          CI        CME        COF        COST  ...
Date                                                                 ...
2015-01-02  18.830000   97.028145  61.346489  68.960205  115.047600  ...
2015-01-05  18.400000   95.358032  61.694519  67.371857  113.739586  ...
2015-01-06  17.910000   95.735435  60.754871  66.117851  115.242622  ...
2015-01-07  18.420000   97.981171  61.457859  66.870262  117.249260  ...
2015-01-08  18.610001  102.972694  61.743225  67.522339  118.256683  ...

Price        Volume                                                       \
Ticker         SBAC     SCHW     TDY     TMUS     TRGP     TRMB      TRV
Date
2015-01-02  1012900  4537600  145700  3515300   471200  1106000  1270800
2015-01-05   863800  5931400  266200  3477300   956000  1254900  1728700
2015-01-06  1704400  9825000  243000  4237100  1072700  2291600  2350900
2015-01-07   688600  7966100  245300  7528300   745000  2096400  1558200
2015-01-08  1068900  5590200  240300  6715900   833000  2036000  1941200

Price
Ticker          UDR      WMB      XEL
Date
2015-01-02  1071500  7433500  2534900
2015-01-05  1784700  8826800  3107200
2015-01-06  2513900  8068100  4749600
2015-01-07  3551300  8252000  2833400
2015-01-08  2929200  7745700  2516800

[5 rows x 276 columns]

In [11]:
prices_df.dropna(axis=1,inplace=True)
prices_df.dropna(axis=0,how='all',inplace=True)